<h2 class="page_header">Signup for an Account!</h2>
<div class="page_subheader signup_subheader_text" style="margin-bottom: 8px">

</div>

<br />

<div class="whyAccountHolder">

	<h4>Why signup for an account?</h4>

	<table>
		<tr><td>Icon1</td><td>Save events to your personal calendar</td></tr>
		<tr><td>Icon2</td><td>Easily export multiple events</td></tr>
		<tr><td>Icon3</td><td>Create events</td></tr>
	</table>

</div>

<%= form_for @user, :html => {:class => 'form-horizontal signup-form'}, :url => { :action => 'create'} do |f| %>

	<%= render 'shared/error_messages' %>
	
	<div class="control-group">
		<%= f.label :username, :class => 'control-label' %>
		<div class="controls"><%= f.text_field :username %></div>
	</div>

	<div class="control-group">
		<%= f.label :email, :class => 'control-label' %>
		<div class="controls"><%= f.text_field :email %></div>
	</div>

	<div class="control-group">
		<%= f.label :password, :class => 'control-label' %>
		<div class="controls"><%= f.password_field :password %></div>
	</div>

	<div class="control-group">
		<%= f.label 'Password Confirmation', :class => 'control-label' %>
		<div class="controls"><%= f.password_field :password_confirmation %></div>
	</div>
	<br />
	<div class="control-group">
		<div class="controls"><%= f.submit "Create my account", :class => "btn btn-success", :data => {"loading-text" => "Creating account..."} %></div>
	</div>

<% end %>
