<% if Time.now.utc >= event.start_time && Time.now.utc <= event.end_time %>
	<% extra = "currently-happening" %>
<% end %>

<tr class="single-event-holder">
<td>
	<table>
		<tr class="<%= extra %>">

			<% if type == 1 %>

				<td class="event-wday" valign="top">
					<div><%= event.start_time.getlocal.strftime('%A') %></div>
					<div valign="top" class="event-time" style="width: 115px; padding: 0 0 0 3px">
						<%= event.start_time.getlocal.strftime('%l') %>:<%= event.start_time.getlocal.strftime('%M') %><%= event.start_time.getlocal.strftime('%P') %> -
						<%= event.end_time.getlocal.strftime('%l') %>:<%= event.end_time.getlocal.strftime('%M') %><%= event.end_time.getlocal.strftime('%P') %>
					</div>
				</td>

			<% else %>

				<td class="event-wday" valign="top">
					<div><%= event.start_time.getlocal.strftime('%B') %> <%= event.start_time.getlocal.strftime('%d') %></div>
					<div valign="top" class="event-time" style="width: 115px; padding: 0 0 0 3px">
						<%= event.start_time.getlocal.strftime('%l') %>:<%= event.start_time.getlocal.strftime('%M') %><%= event.start_time.getlocal.strftime('%P') %> -
						<%= event.end_time.getlocal.strftime('%l') %>:<%= event.end_time.getlocal.strftime('%M') %><%= event.end_time.getlocal.strftime('%P') %>
					</div>
				</td>

			<% end %>

			
			<td class="event-name">
				<%= link_to event.name, event %><br /><span class="event-organization"><%= event.location %></span>
			</td>
		</tr>
	</table>
</td>
</tr>