<table>

	<% events = Event.all %>

	<% events.each do |event| %>
		<tr>
			<td><%= event.name %> </td>
			<td><%= event.description.slice(20) %></td>
			<td><%= event.location %></td>
			<td><%= link_to "More Info", event %></td>
		</tr>
	<% end %>

</table>

<% if events.size == 0 %>
	<em>No events found</em>
<% end %>

<hr />

<h2 style="font-family: sans-serif">Users</h2>

<table>

	<% users = User.all %>

	<% users.each do |user| %>
		<tr>
			<td><%= user.username %> |</td>
			<td><%= user.email %> |</td>
			<td><%= user.calendar.name %></td>
		</tr>
	<% end %>

</table>

<% if users.size == 0 %>
	<em>No users found</em>
<% end %>

<hr />

<h2>All Calendars</h2>

<table>

	<% calendars = Calendar.all %>

	<% calendars.each do |c| %>
		<tr>
			<td valign="top"><strong><%= c.name %></strong></td>

			<td>
				<table>
					<% c.events.each do |e| %>
						<tr><td><%= e.name %></td></tr>
					<% end %>

				</table>
			</td>

		</tr>
	<% end %>

</table>

<% if calendars.size == 0 %>
	<em>No calendars found</em>
<% end %>

<hr />