<div class="events-holder todays-events">
<div class="events-holder-title">Today <div class="event-holder-date"><%= Time.now.strftime("%m/%d/%Y") %></div></div>
<table>

	<% events = Event.limit(6) %>

	<% events.each do |event| %>
		<tr class="single-event-holder">
			<table><tr><td valign="top" class="event-time"><%= event.start_time.strftime('%l') %>:<%= event.start_time.strftime('%M') %><%= event.start_time.strftime('%P') %></td> 
			<td class="event-name"><%= link_to event.name, event %><br /><span class="event-organization"><%= event.organization %></span></td></tr></table>
		</tr>
	<% end %>

</table>
</div>

<% if events.size == 0 %>
	<em>No events found</em>
<% end %>



<h2 style="font-family: sans-serif">Users</h2>

<table>

	<% users = User.all %>

	<% users.each do |user| %>
		<tr>
			<td><%= user.username %> |</td>
			<td><%= user.email %> |</td>
			
		</tr>
	<% end %>

</table>

<% if users.size == 0 %>
	<em>No users found</em>
<% end %>

<hr />

<h2>All Calendars</h2>

<table>

	<% calendars = Calendar.all %>

	<% calendars.each do |c| %>
		<tr>
			<td valign="top"><strong><%= c.name %></strong></td>

			<td>
				<table>
					<% c.events.each do |e| %>
						<tr><td><%= e.name %></td></tr>
					<% end %>

				</table>
			</td>

		</tr>
	<% end %>

</table>

<% if calendars.size == 0 %>
	<em>No calendars found</em>
<% end %>

<hr />