<h2 class="page_header">Moderate Events</h2>
<div class="page_subheader signup_subheader_text" style="border-width: 2px">Approve events for display to the public on the site</div>
<br />
<table style="margin-left: 10px">

<% @events.each do |event| %>
	<tr>
		<td class="search-result">
			<%= link_to event.name, event %>

			<div class="event-brief">

				<%= form_tag :controller => 'events_controller', :action => 'approve_event', :method => :post do %>

					<div><%= hidden_field_tag :eventID, event.id %></div>
					<%= hidden_field_tag :where_next, 1 %>
					<%= hidden_field_tag :approved, true %>
					<%= submit_tag "Approve", :class => 'btn btn-success btn-mini' %>

				<% end %>

			</div>
		</td>
	</tr>
<% end %>

</table>

<% if @events.size == 0 %>
	<em>No events found in need of approval</em>
<% end %>

<br /><br />