<h2 class="page_header">Submit An Event</h2>
<div class="page_subheader signup_subheader_text">
Heard about a cool event happening around campus that you can't find here on UMD Events? Great! Why not tell everybody about it?!
</div>

<br /><br />
<%= form_for @event, :html => {:class => 'form-horizontal create_event_form'}, :url => { :action => 'create'} do |f| %>

	<%= render 'shared/error_messages' %>

	<div class="control-group">
		<%= f.label :name, :class => 'control-label' %>
		<div class="controls"><%= f.text_field :name, :class => "event_name_TF" %></div>
	</div>

	<div class="control-group">
		<%= f.label :start_time, :class => 'control-label' %>
		<div class="controls">
			<%= f.time_select :start_time, :combined => true, :default => Time.now.change(:hour => Time.now.hour, :min => 0), :minute_interval => 30, :time_separator => "", :start_hour => 0, :end_hour => 24 %> &nbsp;&nbsp;-&nbsp;&nbsp; 
			<%= select_month(Date.today, :field_name => "start_date_month") %> <%= select_day(Date.today, :field_name => "start_date_day") %> <%= select_year(Date.today, :field_name => "start_date_year") %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :end_time, :class => 'control-label' %>
		<div class="controls">
			<%= f.time_select :end_time, :combined => true, :default => Time.now.change(:hour => (Time.now + 1.hour).hour, :min => 0), :minute_interval => 30, :time_separator => "", :start_hour => 0, :end_hour => 24 %> &nbsp;&nbsp;-&nbsp;&nbsp;
			<%= select_month(Date.today, :field_name => "end_date_month") %> <%= select_day(Date.today, :field_name => "end_date_day") %> <%= select_year(Date.today, :field_name => "end_date_year") %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :description, :class => 'control-label' %>
		<div class="controls"><%= f.text_area :description, :rows => "10", :class => "event_description_TA" %></div>
	</div>

	<div class="control-group">
		<%= f.label :location, :class => 'control-label' %>
		<div class="controls"><%= f.text_area :location, :rows => "3", :class => "event_location_TA" %></div>
	</div>

	<div class="control-group">
		<%= f.label :organization, :class => 'control-label' %>
		<div class="controls"><%= f.text_field :organization %></div>
	</div>
	
	<br />
	<div class="control-group">
		<div class="controls"><%= f.submit "Submit Event", :class => "btn btn-success" %></div>
	</div>

<% end %>