<h2 class="page_header">Search results for "<%= params[:search] %>"</h2>
<div class="page_subheader signup_subheader_text"><em><%= pluralize(@events.count, "event")%> found </em></div>

<br />

<table style="margin-left: 10px">

<% @events.each do |event| %>
	<tr>
		<td class="search-result">
			<%= link_to event.name, event %>
			<div class="event-brief">
				<%= event.start_time.strftime('%A') %> <%= event.start_time.strftime('%B') %> <%= event.start_time.day %>, <%= event.start_time.year %> @ 

				<%= event.start_time.strftime('%l') %>:<%= event.start_time.strftime('%M') %><%= event.start_time.strftime('%P') %> - <%= event.end_time.strftime('%l')%>:<%= event.end_time.strftime('%M')%><%= event.end_time.strftime('%P') %>
			</div>
		</td>
	</tr>
<% end %>

</table>

<% if @events.size == 0 %>
	<em>No events found with that search parameter</em>
<% end %>