<div id="event_holder">
<div class="event_name_holder"><%= @event.name %></div>

<div id="event_date_time">
<ul>
	<li><table><tr><td><%= image_tag("small_calendar_icon_black.png") %></td><td valign="middle" style="padding-top: 3px"><%= @event.start_time.getlocal.strftime('%A') %> <%= @event.start_time.getlocal.strftime('%B') %> <%= @event.start_time.getlocal.day %>, <%= @event.start_time.getlocal.year %></td></tr></table></li>

	<li><table><tr><td><%= image_tag("small_clock_icon_black.png") %></td><td valign="middle" style="padding-top: 3px"><%= @event.start_time.getlocal.strftime('%l') %>:<%= @event.start_time.getlocal.strftime('%M') %><%= @event.start_time.getlocal.strftime('%P') %> - <%= @event.end_time.getlocal.strftime('%l')%>:<%= @event.end_time.getlocal.strftime('%M')%><%= @event.end_time.getlocal.strftime('%P') %></td></tr></table></li>
</ul>
</div>


<div class="event_description">
	<%= simple_format(@event.description) %>
</div>

<div class="event_location event_description">
	<table><tr><td valign="top"><strong>Location: &nbsp;</strong></td>
		<td><%= simple_format(@event.location) %></td></tr></table>
</div>

</table>

</div>

<div class="event_action_sidebar">

	<div class="sidebar_subsection_holder">

		<div class="sidebar_header">
			<h4>Actions</h4>
		</div>

		<% if !signed_in? %>
			<a class="btn disabled" rel="tooltip" data-placement="left" data-title="Please login to enable this feature!" style="margin-bottom: 10px;"><i class="icon-plus"></i> Add to my calendar</a>
		<% else %>
			<%= render 'addtocal' %>
		<% end %>
	
		<% if 1 == 0 %><a id="setRemindBTN" onclick"showremind()" class="btn setReminderBTN" style="margin-bottom: 10px" href="#"><i class="icon-eye-open"></i> Remind me</a><% end %>

		<a class="btn" type="button" rel="tooltip" data-placement="left" data-title="Export to ICal format"><i class="icon-chevron-up"></i> Export</a>
		

		<h5 style="margin-bottom: 3px; margin-top: 30px;">Set Email Reminder</h5>

		<div class="remindMeBox">

			<% if @r && @r.length != 0 %>

				<table class="myReminders">
					<tr>
						<td valign="top"><%= image_tag("reminder-bell-icon.png") %></td>
						<td>
							<% @r.each do |r| %>
								<%= @ct[r.type_of.to_i] %><br />
							<% end %>
						</td>
					</tr>
				</table>

			<% else %>
				<div style="height: 10px;"></div>
			<% end %>

			<%= form_tag :controller => 'reminder', :action => 'create', :method => :post do %>

				<%= hidden_field_tag :event_id, @event.id %>

				<% if !signed_in? %>
					<%= text_field_tag :send_to, nil, :class => "input-medium set-reminder-email-box" %>
				<% else %>
					<%= text_field_tag(:send_to, current_user.email, :class => "input-medium set-reminder-email-box") %>
				<% end %>
				
				<%= select_tag :type_of, options_for_select([["1 day", 1], ["1 week", 4], ["1 month", 6]]), :class => "remindMeDropdown" %>

				<div class="remindMeBeforeLabel">before</div>

				<%= submit_tag "Set Reminder", :class => 'btn btn-small btn-success remindMeSubmit' %>

			<% end %>

		</div>

	</div>

</div>

<% if current_user && current_user.admin %>

	<div class="admin-actions">
		<% if @event.approved == false %>

			<%= form_tag :controller => 'events_controller', :action => 'approve_event', :method => :post do %>

				<%= hidden_field_tag :eventID, @event.id %>
				<%= hidden_field_tag :where_next, 2 %>
				<%= hidden_field_tag :approved, true %>
				<%= submit_tag "Approve", :class => 'btn btn-success btn-small' %>

			<% end %>

		<% else %>

			<%= form_tag :controller => 'events_controller', :action => 'approve_event', :method => :post do %>

				<%= hidden_field_tag :eventID, @event.id %>
				<%= hidden_field_tag :where_next, 2 %>
				<%= hidden_field_tag :approved, false %>
				<%= submit_tag "Remove", :class => 'btn btn-danger btn-small' %>

			<% end %>

		<% end %>
	</div>
	
<% end %>

