<h1>Show Event</h1>
<hr /><br />
<h2><%= @event.name %></h2>

<table>
	<tr><td>Start time: </td><td><%= @event.start_time %></td></tr>
	<tr><td>End time: </td><td><%= @event.end_time %></td></tr>
	<tr><td>Location: </td><td><%= @event.location %></td></tr>
	<tr><td>Organization: </td><td><%= @event.start_time %></td></tr>
	<tr><td>Description: </td><td><%= @event.description %></td></tr>
</table>
<br />


<h3>Calendars</h3>

<% @event.calendars.each do |cal| %>
	<%= cal.user.username %>
<% end %>

<% if @event.calendars.size == 0 %>
	<%= "This event doesn't belong to any calendars" %><br />
<% end %>