<!DOCTYPE html>
<html>
<head>
  <title>Umdevents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">

	<div id="top_nav"><div id="nav_holder">

		<table id="logo_table"><tr>
			<td><div id="logo"><%= image_tag("eventLogo_white.png") %></div></td>
			<td><div style="margin: 0 5px 10px 5px; color: #939393;">@</div></td>
			<td><div style="margin-bottom: 7px">University of Maryland College Park</div></td>
		</tr></table>

		<div class="header_action_holder"> 

			<%= render 'shared/header_login_logout_bar' %>

		</div>
		
	</div></div>

	<div id="main">

		<div id="main_nav">
			<ul>
				<li><a class="selected" href="/" class="selected2"><div class="main_nav_item" id="todays_events_nav_item"></div></a></li>
				<li><div id="main_nav_separator"></div></li>
				<li><a href="#"><div class="main_nav_item" id="browse_tags_nav_item"></div></a></li>
			</ul>
		</div>

		<div id="main_content">
			<%= yield %>
		</div>

	</div>

</div>

<div id="footer">

</div>

</body>
</html>