<!DOCTYPE html>
<html>
<head>
  <title>Umdevents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrap">

	<div id="top_nav"><div id="nav_holder">

		<table id="logo_table"><tr>
			<td><div id="logo"><a href="/"><%= image_tag("eventLogo_white.png") %></a></div></td>
			<td><div style="margin: 0 5px 10px 5px; color: #939393;">@</div></td>
			<td><div style="margin-bottom: 3px">University of Maryland College Park</div></td>
		</tr></table>

		<div class="header_action_holder">

			<%= render 'shared/header_login_logout_bar' %>

		</div>
		
	</div></div>

	<div id="main">

		<div id="main_nav">
			<ul>

				<% if @homepage != nil %>
					<li><a class="selected" href="/" ><div class="main_nav_item" id="todays_events_nav_item"></div></a></li>
				<% else %>
					<li><a class="selected notselected" href="/" ><div class="main_nav_item" id="todays_events_nav_item"></div></a></li>
				<% end %>

				<li><% if 1 == 0 %><div id="main_nav_separator"></div><% end %></li>
				<li><% if 1 == 0 %><a href="#"><div class="main_nav_item" id="browse_tags_nav_item"></div></a><% end %></li>
			</ul>

			<div class="search_form">

				<%= form_tag :controller => 'events_controller', :action => 'search', :method => 'get', :class => 'form-search' do %>
					<%= text_field_tag :search, params[:search], :class => "input-medium" %>
					<%= submit_tag "Search", :name => nil, :class => "btn search_btn" %>
				<% end %>

				<% if 1 == 0 %>
				<form class="form-search">

				  <input type="text" class="input-medium" placeholder="Search keywords, tags ...">
				  <button type="submit" class="btn search_btn"><i class="icon-search"></i></button>

				</form>
				<% end %>

			</div>

		</div>

		<div id="main_content">
			<%= render 'shared/success_messages' %>
			<%= yield %>
		</div>

	</div>

</div>

<div id="footer">

	<div class="footer-info">
		Website created by Jack Lotkowski ('15) as a Digital Cultures and Creativity Honors College Capstone Project<br />
		Please submit any technical issues to: <a href="mailto:info@jlmad.com">info@jlmad.com</a>
	</div>

</div>

</body>
</html>