<!DOCTYPE html>
<html>
<head>
  <title>Umdevents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrap">

	<div id="top_nav"><div id="nav_holder">

		<table id="logo_table"><tr>
			<td><div id="logo"><a href="/"><%= image_tag("eventLogo_white.png") %></a></div></td>
			<td><div style="margin: 0 5px 10px 5px; color: #939393;">@</div></td>
			<td><div style="margin-bottom: 3px">University of Maryland College Park</div></td>
		</tr></table>

		<div class="header_action_holder">

			<%= render 'shared/header_login_logout_bar' %>

		</div>
		
	</div></div>

	<div id="main">

		<div id="main_nav">
			<ul>
				<li><a class="selected selected2" href="/" ><div class="main_nav_item" id="todays_events_nav_item"></div></a></li>
				<li><% if 1 == 0 %><div id="main_nav_separator"></div><% end %></li>
				<li><% if 1 == 0 %><a href="#"><div class="main_nav_item" id="browse_tags_nav_item"></div></a><% end %></li>
			</ul>

			<div class="search_form">
				<form class="form-search">
				  <input type="text" class="input-medium" placeholder="Search keywords, tags ...">
				  <button type="submit" class="btn"><i class="icon-search"></i></button>
				</form>
			</div>

		</div>

		<div id="main_content">
			<%= render 'shared/success_messages' %>
			<%= yield %>
		</div>

	</div>

</div>

<div id="footer">

</div>

</body>
</html>