<!DOCTYPE html>
<html>
<head>
  <title>Umdevents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">

	<div id="main">

		<%= link_to "Home", '/' %> | <%= link_to "About", '#' %> 
		| <%= link_to "Create Event", '/create_event' %> | <%= link_to "Create an Account", '/signup' %>
		 <hr />

		<%= yield %>

	</div>

</div>

<div id="footer">

</div>

</body>
</html>